{% extends "base.html" %}
{% load bootstrap4 %}
{% load i18n staticfiles %}

    {% block scripts %}
        <link rel="stylesheet"
            href={% static "css/bootstrap-datetimepicker.css" %}>
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css">
        <link rel="stylesheet"
            href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
        <link rel="stylesheet"
            href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css">
        <link rel="stylesheet"
            href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.bootstrap4.min.css">
        <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.bootstrap4.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>

        <script src="{% static "js/moment.js" %}"></script>
        <script src="{% static "js/bootstrap-datetimepicker.js" %}"></script>
        <script src="{% static "events/js/custom.js" %}"></script>
        {{ form.media }}
        <script src="{% static "events/js/ddv_edit.js" %}"></script>
        <script type="text/javascript">
            var USERS_LIST_JSON_URL = "http://127.0.0.1:8000/events/1af11ecd-8b84-4d73-9c74-3169c8518c16/test1/observables_data";
            // translations for datatables

            var dt_language = {
                "emptyTable":     "{% trans "No data available in table" %}",
                "info":           "{% trans "Showing _START_ to _END_ of _TOTAL_ entries" %}",
                "infoEmpty":      "{% trans "Showing 0 to 0 of 0 entries" %}",
                "infoFiltered":   "{% trans "(filtered from _MAX_ total entries)" %}",
                "infoPostFix":    "",
                "thousands":      ",",
                "lengthMenu":     "{% trans "Show _MENU_ entries" %}",
                "loadingRecords": "{% trans "Loading..." %}",
                "processing":     "{% trans "Processing..." %}",
                "search":         "{% trans "Search:" %}",
                "zeroRecords":    "{% trans "No matching records found" %}",
                "paginate": {
                    "first":      "{% trans "First" %}",
                    "last":       "{% trans "Last" %}",
                    "next":       "{% trans "Next" %}",
                    "previous":   "{% trans "Previous" %}"
                },
                "aria": {
                    "sortAscending":  "{% trans ": activate to sort column ascending" %}",
                    "sortDescending": "{% trans ": activate to sort column descending" %}"
                }
            }
        </script>
        <script src="{% static "intercoolerjs/js/intercooler.min.js" %}"></script>

    {% endblock scripts %}

{% block content %}

<!-- Breadcrumbs-->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="/events">Events</a>
  </li>
  <li class="breadcrumb-item">{{ form.title.value}}</li>
  <li class="breadcrumb-item active">Edit</li>
</ol>
<!-- content block with cards-->



  <div class="card text-center border-0" id="EventTabs">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs ">
        <li class="nav-item"><a href="#tab1"
            data-toggle="tab" class="nav-link active" >Details</a></li>
        <li class="nav-item"><a href="#tab2"
            data-toggle="tab" class="nav-link" >Description</a></li>
        <li class="nav-item"><a href="#tab3"
            data-toggle="tab" class="nav-link" >Observables</a></li>
      </ul>
    </div>
    <div class="card-body">
        <form action="" method="post",
            enctype="multipart/form-data", class="tab-content", id="eventEdit">
        <div class="card text-center">
            {% bootstrap_button "Save" button_type="submit" button_class="btn-primary" %}
        </div>

        <br>

        {% csrf_token %}

            <div class="tab-pane form-group fade show active border-0" id="tab1">
                <div class="card-columns">
                  <div class="card p-0 ">
                    <div class="card-block">
                        <h5 class="card-title text-white bg-info text-center border-0"> Details </h5>
                        <div class="card-body">
                            {% bootstrap_form form exclude="description" layout='horizontal' %}
                        </div>
                    </div>
                  </div>
                  <div class="card">
                      <div class="card-block">
                        <h5 class="card-title text-white bg-info text-center border-0"> Actors </h5>
                        <div class="card-body">
                            {% bootstrap_formset actors show_label=False layout='inline' %}
                        </div>
                    </div>
                  </div>
                  <div class="card p-0">
                      <div class="card-block">
                        <h5 class="card-title
                            text-white bg-info text-center border-0"> Documents </h5>
                        <div class="card-body">
                            {% bootstrap_formset doc_formset show_label=False layout='inline' %}
                        </div>
                      </div>
                  </div>
                  <div class="card p-0">
                    <div class="card-block">
                        <h5 class="card-title
                            text-white bg-info text-center border-0"> Reference </h5>
                        <div class="card-body">
                            {% bootstrap_formset reference show_label=True layout='inline' %}
                        </div>
                    </div>
                 </div>
                </div>
            </div>

            <div class="tab-pane form-group fade in" id="tab2">
                  <div class="card p-0">
                    <div class="card-block border-0">
                        <h5 class="card-title
                            text-white bg-info text-center border-0"> Description </h5>
                        <div class="card-body border-0">
                            {% bootstrap_field form.description show_label=False layout='inline' %}
                        </div>
                    </div>
                 </div>
            </div>
        </form>

            <div class="tab-pane form-group fade in" id="tab3">
                <div class="example">
                    <form id="form" role="form" 
                        action="{% url 'events:search-submit' %}" method="post">
                        {% csrf_token %}
                    <input name="search"
                        id="search"
                        type="search"
                        placeholder="Start typing here"
                        ic-post-to="{% url 'events:search-ajax-submit' %}"
                        ic-trigger-on="keyup changed"
                        ic-trigger-delay="300ms"
                        ic-target="#search-result-container"/>
                    </form>
                    <span id="search-result-container"></span>
                </div>
            </div>

    </div>
  </div>




{% endblock content %}

