{% extends "base.html" %}
{% load bootstrap4 %}
{% load static from staticfiles %}

    {% block scripts %}
        <link rel="stylesheet" href={% static "css/bootstrap-datetimepicker.css" %}>
        <script src="{% static "js/moment.js" %}"></script>
        <script src="{% static "js/bootstrap-datetimepicker.js" %}"></script>
        <script src="{% static "events/js/custom.js" %}"></script>
        {{ form.media }}
    {% endblock scripts %}

{% block content %}

<!-- Breadcrumbs-->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="/events">Events</a>
  </li>
  <li class="breadcrumb-item active">{{ form.title.value}}</li>
  <li class="breadcrumb-item active">Edit</li>
</ol>
<!-- content block with cards-->



  <div class="card text-center" id="EventTabs">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item"><a href="#tab1" data-toggle="tab" class="nav-link" >Details</a></li>
        <li class="nav-item"><a href="#tab2" data-toggle="tab" class="nav-link" >Description</a></li>
        <li class="nav-item"><a href="#tab3" data-toggle="tab" class="nav-link" >Observables</a></li>
      </ul>
    </div>
    <div class="card-body">
        <form action="" method="post", enctype="multipart/form-data", class="tab-content", id="eventEdit">
        <div class="card text-center">
            {% bootstrap_button "Save" button_type="submit" button_class="btn-primary" %}
        </div>

        <br>

        {% csrf_token %}

            <div class="tab-pane active form-group" id="tab1">
                <div class="card-columns">
                  <div class="card p-0 ">
                    <div class="card-body">
                      <h5 class="card-title">Details</h5>
                        {% bootstrap_form form exclude="description" layout='horizontal' %}
                    </div>
                  </div>
                  <div class="card text-center">
                    <div class="card-body">
                      <h5 class="card-title">Actors</h5>
                        {% bootstrap_formset actors show_label=False layout='inline' %}
                    </div>
                  </div>
                  <div class="card text-center">
                    <div class="card-body">
                      <h5 class="card-title">Documents</h5>
                        {% bootstrap_formset doc_formset show_label=False layout='inline' %}
                    </div>
                  </div>
                  <div class="card text-center">
                    <div class="card-body">
                        {% bootstrap_formset reference show_label=True layout='inline' %}
                    </div>
                 </div>
                </div>
            </div>

            <div class="tab-pane" id="tab2">
               <div class="col-sm-12">
               {% bootstrap_field form.description show_label=False layout='inline' %}
               </div>
            </div>

            <div class="tab-pane" id="tab3">
               <div class="col-sm-4">
               {% bootstrap_formset observables show_label=False layout='horizontal' %}
               </div>
            </div>



        </form>
    </div>
  </div>




{% endblock content %}

