{% extends "base.html" %}
{% load i18n staticfiles %}
{% load bootstrap4 %}

{% block scripts %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.bootstrap4.min.css">
  <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.bootstrap4.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
  <script src="{% static "events/js/ddv_event.js" %}"></script>
  <script type="text/javascript">
      var USERS_LIST_JSON_URL = '{% url "events:events_list_json" %}';
      // translations for datatables

      var dt_language = {
          "emptyTable":     "{% trans "No data available in table" %}",
          "info":           "{% trans "Showing _START_ to _END_ of _TOTAL_ entries" %}",
          "infoEmpty":      "{% trans "Showing 0 to 0 of 0 entries" %}",
          "infoFiltered":   "{% trans "(filtered from _MAX_ total entries)" %}",
          "infoPostFix":    "",
          "thousands":      ",",
          "lengthMenu":     "{% trans "Show _MENU_ entries" %}",
          "loadingRecords": "{% trans "Loading..." %}",
          "processing":     "{% trans "Processing..." %}",
          "search":         "{% trans "Search:" %}",
          "zeroRecords":    "{% trans "No matching records found" %}",
          "paginate": {
              "first":      "{% trans "First" %}",
              "last":       "{% trans "Last" %}",
              "next":       "{% trans "Next" %}",
              "previous":   "{% trans "Previous" %}"
          },
          "aria": {
              "sortAscending":  "{% trans ": activate to sort column ascending" %}",
              "sortDescending": "{% trans ": activate to sort column descending" %}"
          }
      }
  </script>
{% endblock %}

{% block content %}

<div class="card border-white">
      <h5 class="card-title text-white bg-secondary text-left font-weight-bold"> Events </h5>
      <div class="card-body">
        <table class="datatable table table-striped">
            <thead class="thead-dark">
                <th>{% trans "id" %}</th>
                <th>{% trans "name" %}</th>
                <th>{% trans "author" %}</th>
                <th>{% trans "created" %}</th>
                <th>{% trans "actions" %}</th>
            </thead>
            <tbody>
            </tbody>
        </table>
      </div>
</div>

{% endblock %}




