{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap4 %}
{% load comments %}

{% block scripts %}
<style>
#id_honeypot {
    display: none;
}
</style>
{% endblock %}

{% block content %}
    <div class="card border-white">
      <h5 class="card-title text-white bg-secondary text-left font-weight-bold"> {{ event.title|upper }} </h5>
      <p class="date text-muted text-justify small">Published on {{ event.publish }} by {{ event.author }}</p>
      {% bootstrap_button "edit" button_class="btn-primary" href=event.get_absolute_url|add:"/edit" %}
      <div class="card-body">
        <div class="card-deck">

            {% if event.risk == "critical" %}
                <div class="card border-danger">
                    <h5 class="card-title text-danger 
                        bg-white text-center font-weight-bold"> RISK </h5>
                    <div class="card-body text-center 
                        bg-danger text-white font-weight-bold "> CRITICAL
                    </div>
                </div>

            {% elif event.risk == "high" %}
                <div class="card border-warning">
                    <h5 class="card-title text-warning
                        bg-white text-center font-weight-bold"> RISK </h5>
                    <div class="card-body text-center
                        bg-warning text-white font-weight-bold "> HIGH
                    </div>
                </div>

            {% elif event.risk == "medium" %}
                <div class="card border-info">
                    <h5 class="card-title text-info
                        bg-white text-center font-weight-bold"> RISK </h5>
                    <div class="card-body text-center
                        bg-info text-white font-weight-bold "> MEDIUM
                    </div>
                </div>

            {% elif event.risk == "low" %}
                <div class="card border-success">
                    <h5 class="card-title text-success
                        bg-white text-center font-weight-bold"> RISK </h5>
                    <div class="card-body text-center
                        bg-success text-white font-weight-bold "> LOW
                    </div>
                </div>

            {% else %}
                <div class="card">
                    <h5 class="card-title text-dark
                        bg-white text-center font-weight-bold"> RISK </h5>
                    <div class="card-body text-center
                        bg-secondary text-white font-weight-bold "> UNKNOWN
                    </div>
                </div>
            {% endif %} 


            {% if event.tlp == "amber" %}
                <div class="card border-warning">
                    <h5 class="card-title text-warning
                        bg-white text-center font-weight-bold"> TLP </h5>
                    <div class="card-body text-center
                        bg-warning text-white font-weight-bold "> AMBER
                    </div>
                </div>

            {% elif event.tlp == "red" %}
                <div class="card border-danger">
                    <h5 class="card-title text-danger
                        bg-white text-center font-weight-bold"> TLP </h5>
                    <div class="card-body text-center
                        bg-danger text-white font-weight-bold "> RED
                    </div>
                </div>

            {% elif event.tlp == "green" %}
                <div class="card border-success">
                    <h5 class="card-title text-success
                        bg-white text-center font-weight-bold"> TLP </h5>
                    <div class="card-body text-center
                        bg-success text-white font-weight-bold "> GREEN
                    </div>
                </div>

            {% else %}
                <div class="card">
                    <h5 class="card-title text-dark
                        bg-white text-center font-weight-bold"> TLP </h5>
                    <div class="card-body text-center
                        bg-secondary text-white font-weight-bold "> WHITE
                    </div>
                </div>
            {% endif %} 


            {% if event.confidence == "high" %}
                <div class="card border-success">
                    <h5 class="card-title text-success
                        bg-white text-center font-weight-bold"> CONFIDENCE </h5>
                    <div class="card-body text-center
                        bg-success text-white font-weight-bold "> HIGH
                    </div>
                </div>

            {% elif event.confidence == "medium" %}
                <div class="card border-info">
                    <h5 class="card-title text-info
                        bg-white text-center font-weight-bold"> CONFIDENCE </h5>
                    <div class="card-body text-center
                        bg-info text-white font-weight-bold "> MEDIUM
                    </div>
                </div>

            {% elif event.confidence == "low" %}
                <div class="card border-danger">
                    <h5 class="card-title text-danger
                        bg-white text-center font-weight-bold"> CONFIDENCE </h5>
                    <div class="card-body text-center
                        bg-danger text-white font-weight-bold "> LOW
                    </div>
                </div>

            {% else %}
                <div class="card">
                    <h5 class="card-title text-dark
                        bg-white text-center font-weight-bold"> CONFIDENCE </h5>
                    <div class="card-body text-center
                        bg-secondary text-white font-weight-bold "> UNKNOWN
                    </div>
                </div>
            {% endif %} 


        </div>
      </div>
    </div>

    <div class="card-columns">
        <div class="card">
            <div class="card-block">
                <h5 class="card-title text-white bg-info text-center"> Details </h5>
            </div>
            <div class="card-body">
            <ul class="list-group ">
                <li class="list-group-item"> Created at: {{ event.created|date:"DATETIME_FORMAT" }}
                </li>
                <li class="list-group-item"> Updated At: {{ event.updated|date:"DATETIME_FORMAT" }}
                </li>
                <li class="list-group-item">Event Date: {{ event.event_date|date:"DATETIME_FORMAT" }}
                </li>
                <li class="list-group-item"> UUID: {{ event.uuid }}
                </li>

                <li class="list-group-item"> Type: {{ event.event_type }}
                </li>
                <li class="list-group-item"> Rateing: {{ event.rateing }}


                <li class="list-group-item"> Reference:
                {% for reference in event.reference.all %}
                    {{ reference }}, 
                {% endfor%}
                </li>

                </li>
                <li class="list-group-item"> Motive:
                {% for motive in event.motive.all %}
                    {{ motive }}, 
                {% endfor%}
                </li>
                <li class="list-group-item"> Sector:
                {% for sector in event.sector.all %}
                    {{ sector }}, 
                {% endfor%}

            </ul>

        </div>
        </div>
 
        <div class="card">
            <div class="card-block">
                <h5 class="card-title text-white bg-info text-center"> Description </h5>
                <div class="card-body">
                    {{ event.description }}
                </div>
            </div>
        </div>


        <div class="card">
             <div class="card-block">
                 <h5 class="card-title text-white bg-info text-center"> Comment </h5>
                     <div class="card-body">
                        {% if user.is_authenticated %}
                            {% get_comment_form for event as form %}
                            <form action="{% comment_form_target %}" method="POST">
                            {% csrf_token %}
                            {% bootstrap_field form.comment layout='inline' %}
                            {{ form.honeypot }}
                            {{ form.content_type }}
                            {{ form.object_pk }}
                            {{ form.timestamp }}
                            {{ form.security_hash }}
                            <input type="hidden" name="next"
                            value="{% url 'events:event_detail' uuid=event.uuid slug=event.slug %}"/>                     {% bootstrap_button "Save" button_type="submit" button_class="btn-primary" %}
                            </form>
                        {% else %}
                            <p>Please <a href="{% url 'auth_login' %}">log in</a>
                                to leave a comment.</p>
                        {% endif %}
                     </div>
            </div>
        </div>

       
        <div class="card">
            <div class="card-block">
                <h5 class="card-title text-white bg-info text-center">Comments list
                </h5>
                <div class="card-body">
                {% get_comment_count for event as comment_count %}
                <p> {{ comment_count }} </p>
                {% render_comment_list for event %}
                </div>
            </div>
        </div>

         <div class="card ">
            <div class="card-block">
            <h5 class="card-title text-white bg-info text-center"> Documents </h5>
                <div class="card-body">
                    {% for document in documents %}
                        <li class="list-group-item row">
                        <a href="{{ document.document }}" >{{ document }}</a> 
                        </li>
                    {% empty %}
                        This event has currently no documents
                    {% endfor %}

                </div>
            </div>
        </div>

         <div class="card ">
            <div class="card-block">
            <h5 class="card-title text-white bg-info text-center"> Threat Actors </h5>
                <div class="card-body">
                    {% for actor in threat_actors %}
                        <li class="list-group-item row">
                        <a href="{{ actor.get_absolute_url }}" >{{ actor }}</a> 
                        </li>
                    {% empty %}
                        This event has currently no threat actors listed.
                    {% endfor %}

                </div>
            </div>
        </div>


         <div class="card ">
            <div class="card-block">
            <h5 class="card-title text-white bg-info text-center"> Similar Events by tags</h5>
                <div class="card-body">
                    <ul class="list-group ">
                        {% for event in similar_by_tag %}
                        <li class="list-group-item row">
                                <a href="{{ event.get_absolute_url }}" >{{ event.title }}</a> 
                        </li>
                        {% empty %}
                            There are no similar events yet.
                        {% endfor %}
                    </ul>

                </div>
            </div>
        </div>

         <div class="card border-0">
            <h5 class="card-title text-white bg-info text-center"> Similar Events by observable</h5>
                <div class="container-fluid">
                    <div class="row border bg-secondary text-white">
                        <div class="col-3">Event
                        </div>
                        <div class="col-9">Observables
                        </div>
                    </div>

                    <div class="row">
                    {% for event, observables in similar_by_observable.items %}
                        <div class="col-3 border-right border-bottom">
                            <a href="{{ event.get_absolute_url }}" >{{ event.title }}</a>
                        </div>
                        <div class="col-9 border-bottom">
                             {% for observable in observables %}
                                <a href="{{ observable.get_absolute_url }}" 
                                    >{{ observable.name }}</a> 
                             {% endfor %}
                        </div>
                    {% empty %}
                        There are no similar events yet.
                    {% endfor %}
                    </div>
                </div>
        </div>

         <div class="card border-0">
            <div class="card-block">
            <h5 class="card-title text-white bg-info text-center"> Observables </h5>
                <div class="container-fluid">
                    {% for observable in observables %}
                    <div class="row">
                        <div class="col-3 border-bottom">
                        <a href="{{ observable.observable.get_absolute_url }}"
                            >{{ observable.observable.name }}</a> 
                        </div>
                        <div class="col-9 border-bottom">
                        {{ observable.observable.uuid }}
                        </div>
                    </div>
                    {% empty %}
                        This event has currently no observables
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>


{% endblock %}
