{% extends "necti/base.html" %}

{% block title %}Events{% endblock %}

{% block content %}
    <h1>Necti</h1>
    {% if tag %}
        <h2>Events tagged with "{{ tag.name }}"</h2>
    {% endif %}
    {% for event in events %}
        <h2><a href="{{ event.get_absolute_url }}">{{ event.title }}</a></h2>
        <p class="tags">
            Tags: 
            {% for tag in event.tag.all %}
                <a href="{% url "cyber_events:event_list_by_tag" tag.slug %}">{{ tag.name }}</a>
                {% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
        <p class="date">Published {{ event.publish }} by {{ event.author }}</p>
        {{ event.body|truncatewords:30|linebreaks }}
    {% endfor %}
    
    {% include "pagination.html" with page=posts %}
{% endblock %}
