
{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap4 %}

{% block scripts %}
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
  <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
  <script src="{% static "cyber_events/js/event_list.js" %}"></script>


{% endblock %}



{% block content %}
    {% bootstrap_button "Add" button_type="link" button_class="btn-primary" href="add" %}

    <table id="BSdataTable" class="table table-striped" cellspacing="0" width="100%">
        <thead class="thead-dark" >
            <tr>
                <th scope="row">Row</th>
                <th>Name</th>
                <th>Author</th>
                <th>Created date</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
        {% for observable in observables %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="{{ observable.get_absolute_url }}">{{ observable.name }}</a></td>
                <td>{{ observable.author }}</td>
                <td>{{ observable.created }}</td>
                <td><a href="{{ observable.get_absolute_url }}delete">Delete</a></td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
   
    {% include "pagination.html" with page=posts %}
{% endblock %}

