{% extends "base.html" %}
{% load bootstrap4 %}
{% load static from staticfiles %}

    {% block scripts %}
        <link rel="stylesheet" href={% static "css/bootstrap-datetimepicker.css" %}>
        <script src="{% static "js/moment.js" %}"></script>
        <script src="{% static "js/bootstrap-datetimepicker.js" %}"></script>
        <script src="{% static "/observables/js/custom.js" %}"></script>

    {% endblock scripts %}

{% block content %}

{% block breadcrumbs %}
{% endblock %}



<div class="container-fluid" id="EventTabs">
<nav class="navbar navbar-expand-sm navbar-light bg-faded" >
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="nav-content">
        <ul class="nav navbar-nav nav-tabs">
           <li class="nav-item"><a href="#tab1" data-toggle="tab" class="nav-link" >Details</a></li>
           <li class="nav-item"><a href="#tab2" data-toggle="tab" class="nav-link" >Description</a></li>
           <li class="nav-item"><a href="#tab3" data-toggle="tab" class="nav-link" >Observables</a></li>
           <li class="nav-item"><a href="#tab4" data-toggle="tab" class="nav-link" >Documents</a></li>
        </ul>
    </div>
</nav>

<form action="" method="post", enctype="multipart/form-data", class="tab-content", id="eventEdit">
{% csrf_token %}

    <div class="tab-pane active form-group" id="tab1">
       {% for field in form %}
           {{ field.errors }}
       {% if not field.name == "notes" %}
       <div class="row">
           <div class="col-sm-6">
                {% bootstrap_field field exclude="notes" layout='horizontal' %}
           </div>
       </div> 
      {% endif %}
      {% endfor %}

    </div>

    <div class="tab-pane" id="tab2">
    	{% bootstrap_field form.notes show_label=False layout='inline' %}
    </div>

    <div class="tab-pane" id="tab3">
       <div class="row">
           <div class="col-sm-6">
            {% for formset in formsets %}
                {% bootstrap_formset formset show_label=True layout='inline' %}
            {% endfor %}

           </div>
       </div> 


    </div>
    <div class="tab-pane" id="tab4">
       <div class="row">
           <div class="col-sm-6">
                {% bootstrap_formset attachments show_label=True layout='inline' %}
           </div>
       </div> 

    </div>

{% bootstrap_button "Save" button_type="submit" button_class="btn-primary" %}
</form>

</div>

{% endblock content %}

