{% extends "./observable_base.html" %}
{% load bootstrap4 %}
{% load static from staticfiles %}

    {% block scripts %}
        <link rel="stylesheet" href={% static "css/bootstrap-datetimepicker.css" %}>
        <script src="{% static "js/moment.js" %}"></script>
        <script src="{% static "js/bootstrap-datetimepicker.js" %}"></script>
        <script src="{% static "/observables/js/custom.js" %}"></script>

    {% endblock scripts %}



{% block breadcrumbs %}
<!-- Breadcrumbs-->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="/observables">Observables</a>
  </li>
  <li class="breadcrumb-item active">New</li>
</ol>
<!-- content block with cards-->
{% endblock %}
