{% load static %}


<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>TIM (Threat Intelligence Management)</title>
  <link href="{% static "vendor/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
  <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %} "rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="{% static "css/sb-admin.css" %}" rel="stylesheet" type="text/css">
  <!-- Bootstrap core JavaScript-->
  <!-- Bootstrap core JavaScript-->
  <script src="{% static "vendor/jquery/jquery.min.js" %}"></script>
  <script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js"%}"></script>
  <!-- Core plugin JavaScript-->
  <script src="{% static "vendor/jquery-easing/jquery.easing.min.js" %}"></script>
  <!-- Custom scripts for all pages-->
  <script src="{% static "js/sb-admin.min.js" %}"></script>
  <!-- Custom scripts for this page-->
  <!-- Toggle between fixed and static navbar-->
  <script>
  $('#toggleNavPosition').click(function() {
    $('body').toggleClass('fixed-nav');
    $('nav').toggleClass('fixed-top static-top');
  });

  </script>
  <!-- Toggle between dark and light navbar-->
  <script>
  $('#toggleNavColor').click(function() {
    $('nav').toggleClass('navbar-dark navbar-light');
    $('nav').toggleClass('bg-dark bg-light');
    $('body').toggleClass('bg-dark bg-light');
  });
  </script>
  {% block scripts %}
  {% endblock %}


</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="index.html">Threat Intel Manager</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="Accordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="/">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">Dashboard</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Users">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseUsers" data-parent="#Accordion">
            <i class="fa fa-fw fa-wrench"></i>
            <span class="nav-link-text">Users</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseUsers">
            <li>
              <a href="/users">Users</a>
            </li>
            <li>
              <a href="/users/accounts">Accounts</a>
            </li>
            <li>
              <a href="/users/organizations">Organizations</a>
            </li>
          </ul>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Threat Objects">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseThreatObjects" data-parent="#Accordion">
            <i class="fa fa-fw fa-file"></i>
            <span class="nav-link-text">Threat Objects</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseThreatObjects">
                <li>
                  <a href="/events">Events</a>
                </li>
                <li>
                  <a href="/observables">Observables</a>
                </li>
          </ul>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Common Objects">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseCommonObjects" data-parent="#Accordion">
            <i class="fa fa-fw fa-file"></i>
            <span class="nav-link-text">Common</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseCommonObjects">

            <li>
              <a class="nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMotives">Motive</a>
              <ul class="sidenav-third-level collapse" id="collapseMotives">
                <li>
                  <a href="/common/motive">Motives</a>
                </li>
                <li>
                  <a href="/common/motive/add">Add Motive</a>
                </li>
              </ul>
            </li>

            <li>
              <a class="nav-link-collapse collapsed" data-toggle="collapse" href="#collapseSectors">Sector</a>
              <ul class="sidenav-third-level collapse" id="collapseSectors">
                <li>
                  <a href="/common/sector">Sectors</a>
                </li>
                <li>
                  <a href="/common/sector/add">Add Sector</a>
                </li>
              </ul>
            </li>

            <li>
              <a class="nav-link-collapse collapsed" data-toggle="collapse" href="#collapseIntentsions">Intentsion</a>
              <ul class="sidenav-third-level collapse" id="collapseIntentsions">
                <li>
                  <a href="/common/intentsion">Intentsions</a>
                </li>
                <li>
                  <a href="/common/intentsion/add">Add Intentsion</a>
                </li>
              </ul>
            </li>

            <li>
              <a class="nav-link-collapse collapsed" data-toggle="collapse" href="#collapseKill Chains">Kill Chain</a>
              <ul class="sidenav-third-level collapse" id="collapseKill Chains">
                <li>
                  <a href="/common/killchain">Kill Chains</a>
                </li>
                <li>
                  <a href="/common/killchain/add">Add Kill Chain</a>
                </li>
              </ul>
            </li>

          </ul>
        </li>

        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Actors">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseActors" data-parent="#Accordion">
            <i class="fa fa-fw fa-wrench"></i>
            <span class="nav-link-text">Actors</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseActors">
            <li>
              <a href="/actors">Actors</a>
            </li>
            <li>
              <a href="/actors/actor_type">Actor Types</a>
            </li>
            <li>
              <a href="/actors/organization">Organizations</a>
            </li>
            <li>
              <a href="/actors/domain">Organizations Domain</a>
            </li>

          </ul>
        </li>

        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="TTPs">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseTTPs" data-parent="#Accordion">
            <i class="fa fa-fw fa-wrench"></i>
            <span class="nav-link-text">TTPs</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseTTPs">
            <li>
              <a href="/ttps">TTPs</a>
            </li>
            <li>
              <a href="/ttps/ttp_types">TTP Types</a>
            </li>
            <li>
              <a href="/ttps/ttp_categories">TTP Categories</a>
            </li>
          </ul>
        </li>



      </ul>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <form class="form-inline my-2 my-lg-0 mr-lg-2">
            <div class="input-group">
              <input class="form-control" type="text" placeholder="Search for...">
              <span class="input-group-append">
                <button class="btn btn-primary" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
          </form>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#logoutModal">
            <i class="fa fa-fw fa-sign-out"></i>Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- content block with cards-->
      {% block content %}
      {% endblock content %}
      <!-- /content block with cards-->

    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>CERT-EU TIM 2018 v.0_dev_0.1</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="logoutModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="/logout">Logout</a>
          </div>
        </div>
      </div>
    </div>




  </div>


</body>

</html>
