{% extends "base.html" %}
{% load bootstrap4 %}
{% load static from staticfiles %}

    {% block scripts %}
        <link rel="stylesheet" href={% static "css/bootstrap-datetimepicker.css" %}>
        <script src="{% static "js/moment.js" %}"></script>
        <script src="{% static "js/bootstrap-datetimepicker.js" %}"></script>
        <script src="{% static "/observables/js/custom.js" %}"></script>

    {% endblock scripts %}

{% block content %}

<!-- Breadcrumbs-->
<ol class="breadcrumb">
    {% if object %}
        <li class="breadcrumb-item">
          <a href="{{ request.META.HTTP_REFERER }}">{{ form.name.value}}</a>
        </li>

        {% with request.get_full_path|cut:object.get_absolute_url as path %}
            <li class="breadcrumb-item active">{{ path|cut:"/"|capfirst }}
        {% endwith %}
        {% else %}
            <li class="breadcrumb-item active">Create
    {% endif%}    
</li>
</ol>
<!-- content block with cards-->


<div class="container-fluid" id="EventTabs">
<nav class="navbar navbar-expand-sm navbar-light bg-faded" >
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="nav-content">
        <ul class="nav navbar-nav nav-tabs">
           <li class="nav-item"><a href="#tab1" data-toggle="tab" class="nav-link" >Details</a></li>
           <li class="nav-item"><a href="#tab2" data-toggle="tab" class="nav-link" >Description</a></li>
           <li class="nav-item"><a href="#tab3" data-toggle="tab" class="nav-link" >TTPs</a></li>
           <li class="nav-item"><a href="#tab4" data-toggle="tab" class="nav-link" >Documents</a></li>
        </ul>
    </div>
</nav>

<form action="" method="post", enctype="multipart/form-data", class="tab-content", id="eventEdit">
{% csrf_token %}

    <div class="tab-pane" id="tab1">
        {% bootstrap_form form %}
    </div>


    <div class="tab-pane" id="tab2">

    </div>
    <div class="tab-pane" id="tab3">
           {% for formset in formsets %}
            {% for form in formset %}
                {% for field in form %}
                    {{ field.errors }}
                {% endfor%}
            {% endfor%}
                {% bootstrap_formset formset show_label=True layout='inline' %}
           {% endfor%}

    </div>
    <div class="tab-pane" id="tab4">

    </div>

{% bootstrap_button "Save" button_type="submit" button_class="btn-primary" %}
</form>

</div>

{% endblock content %}

